.container {
    background-image: url('./components/todoback\ \(2\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: max-content;    
    width: max-content;
    background-size: 70%;
    backface-visibility: visible;
}